/* Variables */
:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --body-bg: #202733;
}

/* General */
body {
  background: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Main Content */
.advice {
  background: var(--dark-grayish-blue);
  padding: 50px 50px 3% 50px;
  text-align: center;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  border-radius: 15px;
  position: relative;
  max-width: 540px;
  width: 90%;
  min-height: 332px;
}

.advice__content {
}

.advice__content h4 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 4.08571px;
  color: #53ffaa;
  text-transform: uppercase;
}

#advice_id {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.advice__content p {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #cee3e9;
  margin-top: 25px;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.advice__dice__button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #53ffaa;
  position: absolute;
  bottom: calc(64px / -2);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
}

.advice__dice__button:hover {
  box-shadow: 0px 0px 40px #53ffaa;
}

.advice__dice__button img {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

/* Design Graphics */
.advice__graphic {
  margin-top: 40px;
  height: 16px;
  width: 100%;
  background: url("../images/pattern-divider-desktop.svg");
  background-size: fill;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Breakpoints */

@media (max-width: 406px) {
  .advice__graphic {
    background: url("../images/pattern-divider-mobile.svg");
    background-size: fill;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 568px) {
  .advice {
    padding: 50px 24px 0 24px;
    min-width: 315px;
  }

  .advice__content h4 {
    font-size: 11px;
  }

  .advice__content p {
    font-size: 24px;
    line-height: 33px;
  }

  .advice__graphic {
    margin-top: 24px;
  }
}

/* Animations */
@keyframes fadeIn {
}

@keyframes fadeOut {
}
